/* Global Resets and Box Sizing */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #1F373D;
    background-color: #f4f4f4; /* Background color */
    font-size: 13pt;
    font-weight: 400;
    overflow-x: hidden;
    transition: opacity 1s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

/* Typography */
h1 {
    font-size: 58px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 40px;
    font-weight: 700;
}

h4 {
    font-size: 25px;
    font-weight: 700;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    color: #919EB1;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    letter-spacing: 0.025em;
}

li {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.025em;
    display: inline;
}

/* Links */
a {
    text-decoration: none;
    position: relative;
    color: #1F373D;
}

a:focus,
a:hover {
    color: #FFCC01;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Selection */
::selection,
::-moz-selection,
::-webkit-selection {
    background: #1F373D;
    color: #fff;
    text-shadow: none;
}

/* Container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    background-color: #fff;
    color: #1F373D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #e1e1e1;
}

.navbar-logo a {
    color: #1F373D;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 2;
    justify-content: center;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    color: #1F373D;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #01c0ff;
}

.login-button {
    background-color: #01a6ff;
    color: #1F373D;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-left: 20px;
}

.login-button:hover {
    background-color: #01c0ff;
}

